<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center mb-3">
        <button class="mr-2" routerLink="/manage-users" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="mb-0">Edit User</h1>
      </div>

      <mat-card>
        <mat-card-content *ngIf="user$ | async as user; else loading" @fadeIn>
          <app-user-form
            [user]="user"
            (submitted)="handleEdit($event)"></app-user-form>
        </mat-card-content>

        <ng-template #loading>
          <div class="flex-center">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
