<div class="container">
  <ng-container *ngIf="product$ | async as product; else loading">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <button class="mr-2" routerLink="/products" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="m-0">Product details</h1>
      </div>
      <button
        [routerLink]="['/products/edit', product.id]"
        mat-button
        color="primary">
        <mat-icon class="mr-2">edit</mat-icon>
        <span>Edit product</span>
      </button>
    </div>

    <mat-card>
      <mat-card-content *ngIf="categories$ | async as categories">
        <app-product-form
          [categories]="categories"
          [product]="product"
          [readonly]="true">
        </app-product-form>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #loading>
    <div class="flex-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
