<div class="container-fluid">
  <div class="row" *ngIf="vm$ | async as vm">
    <div class="col-12" *ngIf="vm.loading">
      <div class="flex-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="col-12 my-2" *ngIf="vm.invoiceDetails">
      <div class="invoice-details">
        <span>User: {{ vm.invoiceDetails.user.name }}</span>
        <span>Paid: {{ vm.invoiceDetails.is_paid === 1 ? 'Yes' : 'No' }}</span>
        <span
          >Time:
          {{ vm.invoiceDetails.created_at | date: 'medium':'+0000' }}</span
        >
        <span>Total: {{ vm.invoiceDetails.total }} Lekë</span>
      </div>
    </div>

    <div class="col-12 col-md-2" *ngIf="!vm.loading">
      <h2>Categories</h2>
      <div
        class="categories-container"
        *ngIf="categories$ | async as categories; else loading">
        <button
          class="category-item"
          *ngFor="let category of categories"
          [class.active]="vm.activeCategoryId === category.id"
          [style.color]="category.color"
          (click)="setActiveCategory(category.id)"
          mat-button
          type="button">
          <mat-icon class="mr-2">{{ category.icon }}</mat-icon>
          <span>{{ category.name }}</span>
        </button>
      </div>
      <ng-template #loading>
        <div class="flex-center">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
    <div class="col-12 col-md-4" *ngIf="!vm.loading">
      <h2>Products</h2>
      <mat-form-field appearance="outline" style="width: 250px">
        <mat-label>Search products</mat-label>
        <input (change)="handleProductSearch($event)" type="text" matInput />
      </mat-form-field>

      <div class="products-container container-fluid">
        <div
          class="row justify-content-start align-items-center"
          *ngIf="products$ | async as productsState">
          <div
            class="col-12 col-md-6 mb-2 px-0"
            *ngFor="let product of productsState.data">
            <div
              class="product-item"
              @fadeIn
              [class.empty]="
                (product | currentStockQuantity: vm.invoiceProducts) === 0
              "
              (click)="addItem(product, vm.invoiceProducts)">
              <b>{{ product.name }}</b>
              <div class="details">
                <span>
                  {{ product | currentStockQuantity: vm.invoiceProducts }}
                  {{ product.stock.type }}
                </span>
                <span>{{ product.price }} Lek</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="!vm.loading">
      <h2>Invoice</h2>

      <app-create-invoice-table
        [invoiceProducts]="vm.invoiceProducts"
        (removed)="removeItem($event)"
        (increase)="increaseItemQuantity($event)"
        (decrease)="decreaseItemQuantity($event)">
      </app-create-invoice-table>

      <br />
      <div
        class="d-flex justify-content-between"
        *ngIf="vm.invoiceProducts.length > 0">
        <button
          *ngIf="vm.invoiceDetails === null"
          (click)="createInvoice()"
          mat-flat-button
          color="primary">
          <mat-icon class="mr-2">shopping_cart</mat-icon>
          <span>Create invoice</span>
        </button>
        <button
          *ngIf="vm.invoiceDetails !== null && vm.invoiceDetails?.is_paid === 0"
          (click)="updateInvoice()"
          mat-flat-button
          color="primary">
          <mat-icon class="mr-2">edit</mat-icon>
          <span>Update invoice</span>
        </button>
        <button
          *ngIf="vm.invoiceDetails?.is_paid === 0"
          (click)="payInvoice()"
          mat-flat-button
          color="accent">
          <mat-icon class="mr-2">point_of_sale</mat-icon>
          <span>Pay now</span>
        </button>
        <button
          *ngIf="vm.invoiceDetails !== null"
          (click)="printInvoice()"
          mat-flat-button
          color="primary">
          <mat-icon class="mr-2">print</mat-icon>
          <span>Print invoice</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="invoice-format" *ngIf="vm$ | async as vm">
  <div class="invoice-format" *ngIf="vm.invoiceDetails !== null">
    <app-invoice-format
      class="invoice-format"
      [invoiceDetails]="vm.invoiceDetails"></app-invoice-format>
  </div>
</div>
