.dashboard-number {
  color: #3f51b5;
  font-size: 2.5rem;
  padding: 10px 0;
}

.text-sm {
  font-size: 0.9rem;
  color: #333;
}

.loading-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
