<div class="container pb-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <h1 class="m-0">Product Categories</h1>
      <button class="mx-3" (click)="addCategory()" mat-button color="primary">
        <mat-icon class="mr-2">add_circle_outline</mat-icon>
        <span>Add category</span>
      </button>
    </div>
    <button (click)="refresh()" mat-button color="primary">
      <mat-icon class="mr-2">refresh</mat-icon>
      <span>Refresh</span>
    </button>
  </div>

  <ng-container *ngIf="categories$ | async as data; else loading">
    <app-category-table
      *ngIf="data.length > 0"
      @fadeIn
      [data]="data"
      (opened)="editCategory($event)">
    </app-category-table>
  </ng-container>

  <ng-template #loading>
    <div class="flex-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
